@Html.BeginForm(FormMethod.Post)
{   @Html.AntiForgeryToken();
    @Html.ValidationSummary()
    @if (ViewBag.Message != null)
    {
        <h2> Check Your email for password confirmation </h2>

    }
    @Html.ActionLink("Back","Login")

}
